* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.great-vibes {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.button-open-invitation {
  background-color: #ff6faa;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 2rem;
  border-radius: 10px;
}

.button-open-invitation:hover {
  background-color: #ff85c1;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* @keyframes flowerInTopLeft {
  0% {
    opacity: 0;
    transform: translate(-80px, -80px) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

@keyframes flowerInTopRight {
  0% {
    opacity: 0;
    transform: translate(10px, -10px) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

/* @keyframes flowerInBottomLeft {
  0% {
    opacity: 0;
    transform: translate(-80px, 80px) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
} */

/* @keyframes flowerInBottomRight {
  0% {
    opacity: 0;
    transform: translate(80px, 80px) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

.animate-flower-in-left {
  animation: flowerInTopLeft 1.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.animate-flower-in-right {
  animation: flowerInTopRight 1s ease forwards;
}

.animate-flower-in-bottom-left {
  animation: flowerInBottomLeft 1.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
.animate-flower-in-bottom-right {
  animation: flowerInBottomRight 1.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.flower-move {
  opacity: 0;
}
   */
