* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

.great-vibes {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 3px;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.playfair-display-semibold {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.button-open-invitation {
  background-color: #ff6faa;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 2rem;
  border-radius: 50px;
}

.button-open-invitation:hover {
  background-color: #ff85c1;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Fade transition */
.fade-overlay {
  position: fixed;
  inset: 0;
  background: white;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
  transition: opacity 0.8s ease-in-out;
}

.fade-overlay.active {
  opacity: 1;
  pointer-events: all;
}

.section-hidden {
  display: none;
}

.section-visible {
  display: flex;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 1s ease-out;
}

.arrow-bottom {
  margin-top: 20px;
}

.main-ucapan {
  padding: 0 1rem;
}
.quote {
  margin-top: 3rem;
}

.section-card {
  margin-top: 1.5rem;
}

.section-card .card {
  padding: 1.5rem;
}

.section-card .card .foto_mempelai {
  margin-bottom: 1rem;
}
